<main id="transaction">
    <section id="transaction-form">
        <a [routerLink]="['/dashboard/home']">
            <button mat-flat-button type="button" color="accent" class="mb-3">
                <mat-icon>arrow_back</mat-icon> Home
            </button>
        </a>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <mat-form-field class="w-100">
                    <mat-label>Select transaction type</mat-label>
                    <mat-select [(value)]="type">
                        <mat-option value="expense">Expense</mat-option>
                        <mat-option value="income">Income</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <form *ngIf="type" [formGroup]="tf" (ngSubmit)="onSubmit()" class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <mat-form-field class="w-100">
                    <mat-label>{{type | titlecase}} name</mat-label>
                    <input matInput placeholder="Ex: Groceries, clothing etc" formControlName="transactionName"
                        required>
                    <mat-icon matSuffix>account_balance</mat-icon>
                    <mat-error *ngIf="tf.get('transactionName')?.hasError('required')">
                        {{type}} name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="row mb-3">
                <div class="form-group">
                    <label for="title">{{type}} name: <sup class="text-danger">*</sup></label>
                    <input class="form-control" type="text" name="expense" id="expense"
                        placeholder="Eg: Groceries, food, clothing etc" formControlName="transactionName"
                        [class.is-invalid]="tf.get('transactionName')?.invalid && tf.get('transactionName')?.touched" />
                    <span class="invalid-feedback"
                        *ngIf="tf.get('transactionName')?.hasError('required') && tf?.get('transactionName')?.touched">
                        {{type}} name is required.
                    </span>
                </div>
            </div> -->

            <div class="col-lg-6 col-md-6 col-12">
                <mat-form-field floatLabel="auto" class="w-100">
                    <mat-label>{{type | titlecase}} amount</mat-label>
                    <input matInput type="number" class="amount-field" formControlName="amount" placeholder="0">
                    <!-- <span matTextPrefix>&#x20B9; &nbsp;</span> -->
                    <!-- <span matTextSuffix>.00</span> -->
                    <mat-icon matSuffix>currency_rupee</mat-icon>
                    <mat-error *ngIf="tf.get('amount')?.hasError('required')">
                        {{type}} amount is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="tf.get('amount')?.hasError('min')">
                        {{type}} amount must be <strong>greater than zero</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="row mb-3">
                <div class="form-group">
                    <label for="title">{{type}} amount: <sup class="text-danger">*</sup></label>
                    <input class="form-control" type="number" name="amount" formControlName="amount" value=""
                        pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"
                        [ngClass]="{ 'is-invalid': tf.get('amount')?.invalid && tf.get('amount')?.touched }">

                    <div *ngIf="tf.get('amount')?.hasError('required') && tf.get('amount')?.touched"
                        class="invalid-feedback">
                        {{type}} amount is required.
                    </div>
                </div>
            </div> -->

            <!-- <div class="row mb-3" *ngIf="type == 'expense'">
                <div class="form-group">
                    <label for="title">From income: </label>
                    <input class="form-check-input" type="checkbox" name="fromIncome" id="fromIncome"
                        placeholder="Eg: 100, 50, 2100" formControlName="fromIncome" />
                </div>
            </div> -->
            <div class="d-flex align-items-center justify-content-end">
                <!-- <button class="btn btn-sm btn-success">Add {{ type }} </button> -->
                <button mat-flat-button type="submit" color="primary" [disabled]="!tf.valid">Add {{ type |
                    titlecase}}</button>
            </div>
        </form>
    </section>
</main>