<div class="page-container">
    <header>
        <div class="d-flex align-items-center w-100 justify-content-between">
            <div>
                <button mat-button class="menu-button" (click)="sidenav.toggle()">
                    <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
                </button>
                <a routerLink="/">
                    <span class="app-title">Finance Management</span>
                </a>
            </div>
            <div>
                <button mat-button [matMenuTriggerFor]="logoutmenu">
                    <mat-icon>person</mat-icon>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <mat-menu #logoutmenu="matMenu" xPosition="before">
                    <a mat-menu-item (click)="logoutUser()">
                        <mat-icon>power_settings_new</mat-icon>&nbsp; Logout
                    </a>
                </mat-menu>
            </div>
        </div>
    </header>

    <mat-sidenav-container class="sidenav-container">
        <!-- <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav"
            (click)="onSidenavClick()"> -->
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
            <!-- <div class="d-flex flex-column justify-content-between h-screen-size overflow-hidden"> -->
            <mat-accordion>
                <mat-expansion-panel [expanded]="openedsideTab === 'budgeting'">
                    <mat-expansion-panel-header (click)="openedsideTab = 'budgeting'">
                        <mat-panel-title>
                            <mat-icon>currency_exchange</mat-icon>&nbsp; Expense Tracking
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-button class="letter-spacing-normal" (click)="goTo('/dashboard/home')">
                        <mat-icon>list</mat-icon>&nbsp; All Transactions
                    </a>
                    <a mat-button class="letter-spacing-normal" (click)="goTo('/dashboard/addTransaction')">
                        <mat-icon>add_box</mat-icon>&nbsp; Add Transaction
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel [expanded]="openedsideTab === 'savings'">
                    <mat-expansion-panel-header (click)="openedsideTab = 'savings'">
                        <mat-panel-title>
                            <mat-icon>account_balance</mat-icon>&nbsp; Savings Management
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-button class="letter-spacing-normal" (click)="goTo('/dashboard/savingsList')">
                        <mat-icon>list</mat-icon>&nbsp; My savings
                    </a>
                    <a mat-button class="letter-spacing-normal" (click)="goTo('/dashboard/addSavings')">
                        <mat-icon>add_circle</mat-icon>&nbsp; Add savings
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel [expanded]="openedsideTab === 'tasks'">
                    <mat-expansion-panel-header (click)="openedsideTab ='tasks'">
                        <mat-panel-title>
                            <mat-icon>add_task</mat-icon>&nbsp; Tasks Management
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-button class="letter-spacing-normal">
                        <mat-icon>event_upcoming</mat-icon>&nbsp; Coming soon!
                    </a>
                    <!-- <a mat-button class="letter-spacing-normal">Home</a>
                            <a mat-button class="letter-spacing-normal">Add Transaction</a> -->
                </mat-expansion-panel>
            </mat-accordion>
            <!-- </div> -->
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>